:root {
    --color-primary: #0D0D0D;
    --color-secundary: #F24405;
    --color-background: #F23005;
    --color-text: #F2F2F2;
    --color-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 30px;
}

.contenedor {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: var(--color-primary);
    color: white;
    padding: 2rem 1rem;
    box-shadow: var(--color-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 2rem;
    background-color: white;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}

.sidebar nav ul {
    list-style: none;
    width: 100%;
}

.sidebar nav ul li {
    margin: 1rem 0;
    text-align: center;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.sidebar nav ul li a:hover {
    color: var(--color-secundary);
}

.contenido {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

.contenido h1 {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 1.5rem;
    font-size: 50px; 

}

/* GALERÍA */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: var(--color-shadow);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* LIGHTBOX */
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--color-text);
}

#lightbox .close-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    color: var(--color-text);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    z-index: 1001;
}

.linea-deco{
    text-align: center;
}
